@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --bg-color: #003673;
}

body{
  min-width: 100%;
}

header{
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  background-color: var(--bg-color);
  font-family: 'Dancing Script', cursive;
  color: white;
  min-height: 8rem;
  font-size: 1.2rem;
}


main {
  background-color: #f2f2f2;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

main form {
  max-width: 400px;
  width: 100%;
}

main label {
  display: block;
  margin-bottom: 10px;
}

main input,
main textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

main input[type="submit"],
main input[type="reset"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

main input[type="submit"]:hover,
main input[type="reset"]:hover {
  background-color: #0056b3;
}

main textarea {
  resize: vertical;
}

main input:required,
main textarea:required {
  border: 1px solid #ccc;
}

main input:valid,
main textarea:valid {
  border: 1px solid green;
}

main input:invalid,
main textarea:invalid {
  border: 1px solid red;
}


footer{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color);
  min-height: 3rem;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}