@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --bg-color: #003673;
  --main-bg-color: #151320;
  --button-color: white;
  --button-hover: gray;
}

body{
  background-color: var(--bg-color);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#box{
  position: relative;
  background-color: var(--main-bg-color);
  padding: 6rem 3rem;
  gap: 0.6rem 0;
  color: white;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  border-radius: 1rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#box::before, #box::after{
  content: '';
  position: absolute;
  width: calc(100% + 30px);
  height: calc(100% + 30px);
  z-index: -1;
  background: linear-gradient(45deg, #ffff00, #00ff00, #0099ff, #001aff, #a200ff, #ff0055, #ff0000);
  background-size: 300%;
  border-radius: 0.5rem;
  animation: AnimarBorda 8s linear infinite;
}

@keyframes AnimarBorda{
  0%{
    background-position: 0%;
  }
  100%{
    background-position: 300%;
  }
}

main::after{
  filter: blur(50px);
}

button{
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 0.1rem solid black;
  font-size: 1rem;
  font-family: 'Lobster', cursive;
}

button:hover{
  cursor: pointer;
}

@media (max-width: 450px){
  #box{
    padding: 0.5rem 1rem;
  }
}

@media (min-width: 1500px){
  #box{
    padding: 10rem 15rem;
    font-size: 2rem;
  }

  button{
    font-size: 2rem;
  }
}


